:dir(rtl) {
  .content {
    margin-inline-end: 250px;
  }
}
:dir(ltr) {
  .content {
    margin-inline-start: 250px;
  }
}
@include for-tablet {
  :dir(ltr) {
    .content {
      margin-inline-start: 0px;
    }
  }
}
@include for-tablet {
  :dir(rtl) {
    .content {
      margin-inline-end: 0px;
    }
  }
}
